:root {
  --primary-text-color: #757575;
  --secondery-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --accent-button-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
}
