.hero {
    background-repeat: no-repeat;
    background-image: url(../images/jpeg/hero-mobile-x1.jpeg);
    background-position: center;
    // background-size: cover;
    width: auto;
    height: 400px;
}
.hero__title {
    color: #ffffff;
    text-align: center;
   text-transform: uppercase;
 

}